# VSIX packaging ignore list
.vscode/**
.vscode-test/**
.vscode-test.mjs
out/**
node_modules/**
src/**
.git/**
.gitignore
.yarnrc
webpack.config.js
*.md
!readme.md
!README.md
!CHANGELOG.md
!changelog.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
!**/*.min.(svg|png|jpg|jpeg|gif)