# VSIX packaging ignore list
.github/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
out/**
node_modules/**
src/**
.git/**
scripts/**
docs/**
*.log
.gitignore
bunfig.toml
*.md
!readme.md
!README.md
!CHANGELOG.md
!changelog.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
!**/*.min.(svg|png|jpg|jpeg|gif)
!resources/provider-icons/**
release/**
.lintstagedrc.json
addi-config.json
.prettierignore
.prettierrc
*.lock
*.vsix
*.test.*
webview-ui/**
!resources/webview/**

.oxlintrc.json
.oxfmtrc.json
